<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>React Example</title>
  <link rel="stylesheet" href="app.css"/>
</head>
<body>
  <h2>Hello from Express and EJS -- <%= answer %></h2>
</body>
</html>


