<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>React Example</title>
  <link rel="stylesheet" href="/app.css"/>
  <script charset="utf-8">
    window.initialData = <%- JSON.stringify(initialData) -%>
  </script>
</head>
<body>
  <div id="root"><%- initialMarkup -%></div>
  <script src="/vendor.js?version=1" charset="utf-8"></script>
  <script src="/app.js?version=1" charset="utf-8"></script>
</body>
</html>


